<?xml version="1.0"?>
<launch>
 <!-- <node pkg="pointcloud_roi" type="filter_red_clusters_node" name="detect_roi">
    <remap from="~input" to="/depth_registered/points" />
    <remap from="~map_frame" to="camera_color_optical_frame" />
  </node> -->
    <!-- Start nodelet to publish detected ROIs -->
  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager"/>
  <node pkg="nodelet" type="nodelet" name="detect_roi" args="load pointcloud_roi/FilterRedClusters nodelet_manager no-bond">
    <remap from="~input" to="/depth_registered/points" />
    <remap from="~map_frame" to="world" />
  </node>
</launch>
